.mat-toolbar{
    background-color: #9c1148;
    height: 10vh;
    display: flex;
    padding-top: 1.5vh;
}

.logo-class{
    /* height: 70px; */
    height : 10vh;
    margin-right: auto;
}

.mat-button{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2em;
}

.mat-menu-item{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2em;
}