<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{track.name}}</mat-card-title>
    <mat-card-subtitle>{{track.artist.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]='track.artist.image.text' alt="Artist Image">

  <mat-card-actions class="button">

    <button class="addButton" *ngIf="!wishData" (click)="addButtonClick(track)" matTooltip="Add to Wishlist"
      mat-mini-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>

    <button class="deleteButton" *ngIf="wishData" (click)="deleteButtonClick(track)" matTooltip="Delete from Wishlist"
      mat-mini-fab>
      <i class="material-icons">delete</i>
    </button>


    <button class="mat-fab" matTooltip="Play" mat-mini-fab>
      <mat-icon>
        <a [href]="track.url">
          <i class="material-icons">play_circle_filled_white</i>
        </a>
      </mat-icon>
    </button>


    <button class="updateButton" *ngIf="wishData" (click)="updateComments()" matTooltip="Update Comments" mat-mini-fab>
      <i class="material-icons">create</i>
    </button>



  </mat-card-actions>

</mat-card>